pandas>=2.2.0
openpyxl>=3.1.2
APScheduler>=3.10.4
python-dotenv>=1.0.0
scipy>=1.11.0
matplotlib>=3.8.0
PyYAML>=6.0
numpy>=1.26.0
reportlab>=4.0.0
python-calamine>=0.2.0
msoffcrypto-tool>=5.0.0
olefile>=0.46
statsmodels>=0.14.0
scikit-learn>=1.3.0
seaborn>=0.13.0
customtkinter>=5.2.0
plotly>=5.18.0
streamlit>=1.32.0
